.about-us {
    padding: 40px;
    padding-top: 1em;
}

h1{
    color:#3f3c56;
    font-weight: lighter;
    font-size: 24px;
}

.about-para{
    font-size: 18px;
    font-family: Helvetica;
    padding: 30px 120px;
    line-height: 1.5;
    text-align: left;
}

.logo {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  cursor: pointer;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {transform: scale(1);}
  10% {transform: scale(.9);}
  20% {transform: scale(1);}
  100% {transform: scale(1);}
}
