@import url('https://fonts.googleapis.com/css?family=B612+Mono|Lato&display=swap');
html{
  scroll-behavior:smooth;
}

.App {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.container{
  display: flex;
  padding: 10px 15px;
  margin-bottom: 2em;
  min-height: calc(100vh - 150px);
}

.col-1{
  background-image: url('../images/speech_to_text.svg');
  flex:1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.col-2{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.subTitle{
  font-weight: 400;
  font-size: 2em;
  margin: 0;
  color:#6c61f6;
}

.textarea{
  overflow: auto;
  width: 80%;
  height: 300px;
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 3px 5px rgba(0,0,0,0.12);
  padding: 15px;
  font-size: 14px;
}

.lang-select {
  margin: 1em auto;
  color: #39364d;
}

.lang-select select {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  font-weight: bold;
  border-radius: 5px;
  color: #39364d;
}

.pulse {
  transition: all 200ms ease;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%    {opacity: 1;}
  50%   {opacity: .5;}
  100%  {opacity: 1;}
}

@media (max-width: 480px) {

  .col-1{
    display: none;
  }

  .col-2 {
    min-height: calc(100vh - 100px);
  }

  .container {
    flex-direction: column;
    padding-top: 0;
    margin: 0;
  }

  .title{
    font-size: 45px !important;

  }


  .lang-select {
    font-size: .9em;
  }

  .lang-select select {
    font-size: .8em;
    padding: 5px;
    margin-bottom: 5px;
  }

  .textarea{
    height: 200px;
    margin: 15px auto;
  }


  .about-para{
    padding: 20px !important;
    text-align: left;
  }
}
