.footer{
    padding:8px;
    color: #ffffff;
    background-color: #4c4c56;
    font-weight: 300;


  }

  .profiles {
    display: flex;
    justify-content: space-between;
  }

  .footer p{
      margin:5px;
  }
  .icon{
      margin:3px;
  }
