.footer{
    padding:8px;
    color: #ffffff;
    background-color: #4c4c56;
    font-weight: 300;


  }

  .creators{
    color:#ffffff;
  }
  .profiles {
    display: flex;
    justify-content: center;
    width: 35vw;
    margin: 0 auto;
  }
.profiles a{
    color:#ffffff;
    text-decoration: none;
    
}
.profile{
  /* margin-right: 20px; */
  width: 50vw;
}
  .footer p{
      margin:5px;
  }
  .icon{
      margin:3px;
  }
