.Share {
  display: flex;
}

.share-btn {
  margin: auto 10px;
  opacity: .8;
  transform: scale(.9);
  transition: all 300ms ease;
  cursor: pointer;
}

.share-btn:hover, .share-btn:focus {
  opacity: 1;
  transform: scale(1);
}

.share-hidden {
  visibility: hidden;
  transform: translateY(-50px);
  opacity: 0;
}
